<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../static/home.css'>
    <title>MoodSculpt</title>
</head>
<body>
    <div id="header">
        <center>
            MoodSculpt
        </center>
    </div>
    <h1>MoodSculpt</h1>
    <p>Your personal mood maestro!!</p>
    
    <a href="/detect_mood">
        <button id="detectButton">Detect Mood</button>
    </a>

</body>
</html>